/* Style links in the homepage tagline */
.VPHero .tagline a {
  color: var(--vp-c-brand-1);
  text-decoration: none;
  transition: color 0.25s, text-decoration 0.25s;
}

.VPHero .tagline a:hover {
  color: var(--vp-c-brand-2);
  text-decoration: underline;
}

.VPHero .tagline a>img {
  transition: box-shadow 0.25s ease-in-out;
  display: inline-block;
  box-shadow: 0px 0px 0px 0px currentColor;
}

.VPHero .tagline a:hover>img {
  box-shadow: 0px 0px 12px 0px currentColor;
}
