/* Style links in the homepage tagline */
.VPHero .tagline a {
  color: var(--vp-c-brand-1);
  text-decoration: none;
  transition: color 0.25s, text-decoration 0.25s;
}

.VPHero .tagline a:hover {
  color: var(--vp-c-brand-2);
  text-decoration: underline;
}

.VPHero .tagline a.library {
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 6px;
}

.VPHero .tagline a.library>img {
  display: inline-block;
  margin: auto 4px auto 2px;
}

.VPHero .tagline a.badge>img {
  transition: box-shadow 0.25s ease-in-out;
  display: inline-block;
  box-shadow: 0px 0px 0px 0px currentColor;
}

.VPHero .tagline a.badge:hover>img {
  box-shadow: 0px 0px 12px 0px currentColor;
}

.VPHero  .tagline {
    max-width: 292px;
}

@media (min-width: 960px) {
  .VPHero  .tagline {
      max-width: 720px;
  }
}

:root {
  --vp-home-hero-image-background-image: url(/images/lit-flame.svg);
  --vp-home-hero-image-filter: blur(24px) hue-rotate(180deg) invert(1);
  --vp-home-hero-image-transform: translate(-50%, -55%) scale(1, 1);
  --vp-home-hero-image-width: 80%;
  --vp-home-hero-image-height: 80%;

}

.VPHero.has-image .image-bg {
  background-image: var(--vp-home-hero-image-background-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: var(--vp-home-hero-image-width);
  height: var(--vp-home-hero-image-height);
  filter: var(--vp-home-hero-image-filter);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: var(--vp-home-hero-image-transform);
  transition: width 0.5s, height 0.5s, transform 0.5s, filter 0.5s;
  opacity: 0.8;
}

.box>.VPImage {
  background-color: var(--vp-c-bg);
  border-radius: 6px;
}

@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-width: 80%;
        --vp-home-hero-image-height: 80%;
        --vp-home-hero-image-transform: translate(-50%, -52.5%) scale(0.75, 0.75);
        --vp-home-hero-image-filter: blur(36px) hue-rotate(180deg) invert(1);
    }
}

@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-width: 100%;
        --vp-home-hero-image-height: 100%;
        --vp-home-hero-image-filter: blur(42px) hue-rotate(180deg) invert(1);
        --vp-home-hero-image-transform: translate(-50%, -60%) scale(0.8, 0.8);
    }
    .VPHero.has-image .main.main {
      max-width: 640px;
    }
}

@media (min-width: 1280px) {
    :root {
        --vp-home-hero-image-width: 100%;
        --vp-home-hero-image-height: 100%;
        --vp-home-hero-image-transform: translate(-50%, -60%) scale(1, 1);
    }
}
