{
  "assumptions": {
    "setPublicClassFields": true,
    "privateFieldsAsProperties": true
  },
  "presets": [
    [
      "@nrwl/web/babel",
      {
        "useBuiltIns": "usage",
        "decorators": {"version": "2018-09", "decoratorsBeforeExport": true},
        "classProperties": {"loose": false}
      }
    ]
  ]
}
