name: Build and Test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build_and_test:
    if: ${{ github.event_name == 'push' || ( github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository ) }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: 'Checkout code'
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10.13.1
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.17.1' # Specify Node.js version
          cache: 'pnpm' # Use pnpm cache instead of npm
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Install Playwright Browsers
        run: pnpm --filter lit-ui-router exec playwright install --with-deps
      - name: Install Cypress
        run: pnpm --filter sample-app-lit-e2e exec cypress install
      - name: Build and Test
        run: pnpm run ci
      - name: Vitest Coverage Report
        uses: davelosert/vitest-coverage-report-action@v2
        if: github.event_name == 'pull_request'
        with:
          working-directory: packages/lit-ui-router
      - name: Upload to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: packages/lit-ui-router/coverage/lcov.info
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
